<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Sobre - Meu Site</title>
  <link rel="stylesheet" href="/styles.css"> <!-- opcional -->
</head>
<body>
  <h1>Olá, sou Renato criador desses site, fiz essas páginas com intuito de estudos</h1>

  <p>Este é um site simples feito com <strong>Node.js</strong>,
